@keyframes ff-to-side {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3%);
  }
}

@keyframes ff-side-to-side {
  0% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(3%);
  }
}

@keyframes ff-to-side-small {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1%);
  }
}

@keyframes ff-side-to-side-small {
  0% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(1%);
  }
}

@keyframes ff-to-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4%);
  }
}

@keyframes ff-up-down {
  0% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(4%);
  }
}

@keyframes ff-to-up-small {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1%);
  }
}

@keyframes ff-up-down-small {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(1%);
  }
}

@keyframes ff-rot-right {
	0% {
		transform: rotate(0deg)
		           translate(-3%)
		           rotate(0deg);
	}
	100% {
		transform: rotate(360deg)
		           translate(-3%)
		           rotate(-360deg);
	}
}

@keyframes ff-rot-left {
	0% {
		transform: rotate(360deg)
		           translate(-3%)
		           rotate(-360deg);
	}
	100% {
		transform: rotate(0deg)
		           translate(-3%)
		           rotate(0deg);
	}
}

@keyframes ff-rot-small-right {
	0% {
		transform: rotate(0deg)
		           translate(-0.5%)
		           rotate(0deg);
	}
	100% {
		transform: rotate(360deg)
		           translate(-0.5%)
		           rotate(-360deg);
	}
}

@keyframes ff-rot-small-left {
	0% {
		transform: rotate(360deg)
		           translate(-0.5%)
		           rotate(-360deg);
	}
	100% {
		transform: rotate(0deg)
		           translate(-0.5%)
		           rotate(0deg);
	}
}
