// http://stackoverflow.com/questions/9622354/make-a-div-center-of-viewport-horizontally-and-vertically/34084294#34084294
@mixin center-position() {
  width: calc(100% - 60px);
  max-height: calc(100% - 60px);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin settings-button($fontSize: 1em, $padding: 8px, $borderRadius: 5px) {
  border-radius: $borderRadius;
  border: 1px solid $settings-border;
  color: $settings-color;
  background: $settings-input-background;
  font-size: $fontSize;
  padding: $padding;
  cursor: pointer;
  &:hover {
    color: brighten($settings-color, 25%);
    background-color: darken($settings-input-background, 25%);
  }
}
