/* http://stackoverflow.com/questions/9622354/make-a-div-center-of-viewport-horizontally-and-vertically/34084294#34084294 */
.owl-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.owl-svg {
  @include center-position();
  opacity: 1;
  transition: opacity 1s linear, filter 1s linear;
}

.window-svg {
  @include center-position();
  opacity: 0;
  transition: opacity 1s linear, filter 1s linear;
}

.window-visible {
  opacity: 0.9;
}

.owl-container {
  perspective: 100px;
  transform: translateX(70px);
}

.owl-graphic {
  transform-origin: center bottom;
}

.owl-body,
.iris {
  fill: $owl-main-color;
}

.stomach,
.sclera,
.eye-shine {
  fill: $owl-background-color;
}

.nose {
  fill: $owl-accent-color;
}

.foot,
.wing,
.eye-liner {
  fill: $owl-extremities-color;
}

.pupil {
  fill: $owl-dark-color;
}

.owl-graphic.wobble {
  animation: to-wobble 0.5s ease, wobble 0.75s linear 0.5s alternate infinite;
}

.eyes.side-to-side {
  animation: to-side 0.5s ease, side-to-side 1s ease 0.5s alternate infinite;
}

.left-eye-shine.side-to-side {
  animation: to-side-small 0.5s ease, side-to-side-small 1s ease 0.5s alternate infinite;
}

.right-eye-shine.side-to-side {
  animation: to-side-small 0.5s ease, side-to-side-small 1s ease 0.5s alternate infinite;
}

.eyes.up-down {
  animation: to-up 0.5s ease, up-down 1s ease 0.5s alternate infinite;
}

.left-eye-shine.up-down {
  animation: to-up-small 0.5s ease, up-down-small 1s ease 0.5s alternate infinite;
}

.right-eye-shine.up-down {
  animation: to-up-small 0.5s ease, up-down-small 1s ease 0.5s alternate infinite;
}

.eyes.around-right {
  animation: rot-right 2s linear 0s normal infinite;
}

.eyes.around-left {
  animation: rot-left 2s linear 0s normal infinite;
}

.left-eye-shine.around-right {
  animation: rot-small-right 2s linear 0s normal infinite;
}

.right-eye-shine.around-right {
  animation: rot-small-right 2s linear 0s normal infinite;
}

.left-eye-shine.around-left {
  animation: rot-small-left 2s linear 0s normal infinite;
}

.right-eye-shine.around-left {
  animation: rot-small-left 2s linear 0s normal infinite;
}

.eyes.blink {
  transform-origin: 50%;
  animation: shrink 0.5s ease 0s alternate infinite;
}

.wing {
  transform: rotateZ(0) rotateX(0);
  transition: transform 1s ease;
}

.left-wing {
  transform-origin: right top;
}

/* http://easings.net/#easeOutCubic */
.left-wing.flap-left {
  animation: flap-left 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s alternate infinite;
}

.right-wing {
  transform-origin: left top;
}

/* http://easings.net/#easeOutCubic */
.right-wing.flap-right {
  animation: flap-right 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s alternate infinite;
}

.right-wing.forward-up {
  transform: rotateZ(-71deg) rotateX(160deg);
}

.left-wing.forward-up {
  transform: rotateZ(66deg) rotateX(160deg);
}

.foot {
  transform-origin: center top;
}

.right-foot.march {
  animation: march 0.75s ease 0s alternate infinite;
}

.left-foot.march {
  animation: march 0.75s ease 0.75s alternate infinite;
}

.ff {
  .eyes.side-to-side {
    animation: ff-to-side 0.5s ease, ff-side-to-side 1s ease 0.5s alternate infinite;
  }

  .left-eye-shine.side-to-side {
    animation: ff-to-side-small 0.5s ease, ff-side-to-side-small 1s ease 0.5s alternate infinite;
  }

  .right-eye-shine.side-to-side {
    animation: ff-to-side-small 0.5s ease, ff-side-to-side-small 1s ease 0.5s alternate infinite;
  }

  .eyes.up-down {
    animation: ff-to-up 0.5s ease, ff-up-down 1s ease 0.5s alternate infinite;
  }

  .left-eye-shine.up-down {
    animation: ff-to-up-small 0.5s ease, ff-up-down-small 1s ease 0.5s alternate infinite;
  }

  .right-eye-shine.up-down {
    animation: ff-to-up-small 0.5s ease, ff-up-down-small 1s ease 0.5s alternate infinite;
  }

  .eyes.around-right {
    animation: ff-rot-right 2s linear 0s normal infinite;
  }

  .eyes.around-left {
    animation: ff-rot-left 2s linear 0s normal infinite;
  }

  .left-eye-shine.around-right {
    animation: ff-rot-small-right 2s linear 0s normal infinite;
  }

  .right-eye-shine.around-right {
    animation: ff-rot-small-right 2s linear 0s normal infinite;
  }

  .left-eye-shine.around-left {
    animation: ff-rot-small-left 2s linear 0s normal infinite;
  }

  .right-eye-shine.around-left {
    animation: ff-rot-small-left 2s linear 0s normal infinite;
  }

}
