// http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

input[type=range],
input[type=checkbox] {
  cursor: pointer;
}
