.settings-open {
  position: absolute;
  top: 10px;
  left: 10px;
}

.settings-open-button {
  border-radius: 5px;
  border: 1px solid $settings-border;
  color: $settings-color;
  background: $settings-input-background;
  font-size: 1.1em;
  padding: 8px;
  cursor: pointer;
  &:hover {
    color: brighten($settings-color, 25%);
    background-color: darken($settings-input-background, 25%);
  }
}

.settings-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: $settings-width;
  padding: 10px;
  z-index: 2;
  color: $settings-color;
  background-color: $settings-background;
  border-right: 1px solid $settings-border;
  transition: transform 0.5s ease;
}

.check-svg {
  position: absolute;
  transform: scale(0.3, 0.3);
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.visible {
  opacity: 1;
}

.settings-hidden {
  transform: translateX(-$settings-width);
}

.settings-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settings-close-button {
  border-radius: 5px;
  border: 1px solid $settings-border;
  color: $settings-color;
  background: $settings-input-background;
  cursor: pointer;
  &:hover {
    color: brighten($settings-color, 25%);
    background-color: darken($settings-input-background, 25%);
  }
}

.settings-form {
  position: relative;
  margin-top: 35px;
}

.settings-control {
  margin-bottom: 15px;
}

.settings-label,
.settings-input-wrapper {
  display: inline-block;
}

.settings-label {
  width: 75%;
  font-size: 1.1em
}

.settings-input-wrapper {
  width: 15%;
  margin-left: 2%;
}

.settings-input-checkbox-wrapper {
  margin-left: 0;
}

.settings-input {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid $settings-border;
  color: $settings-color;
  background: $settings-input-background;
  transition: border-color 0.5s ease;
}

.settings-input-error {
  border-color: $settings-error;
}

.settings-help {
  font-size: 0.9em;
  color: $settings-help-color;
}

.settings-about {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.settings-link {
  text-decoration: none;
  color: $settings-link-color;
}

.settings-octicon {
  fill: $settings-link-color;
}
