.settings-button {

}

.settings-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: $settings-width;
  padding: 10px;
  z-index: 2;
  color: $settings-color;
  background-color: $settings-background;
  border-right: 1px solid $settings-border;
  transition: transform 0.5s ease;
}

.settings-control {
  margin-bottom: 10px;
}

.settings-label,
.settings-input-wrapper {
  display: inline-block;
}

.settings-label {
  width: 75%;
  font-size: 1.1em
}

.settings-input-wrapper {
  width: 15%;
  margin-left: 2%;
}

.settings-input-checkbox-wrapper {
  margin-left: 0;
}

.settings-input {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid $settings-border;
  color: $settings-color;
  background: $settings-input-background;
  transition: border-color 0.5s ease;
}

.settings-input-error {
  border-color: $settings-error;
}

.settings-about {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.settings-link {
  text-decoration: none;
  color: $settings-link-color;
}

.settings-octicon {
  fill: $settings-link-color;
}
