$app-background: #333333;
$app-color: darken(#fff, 5%);
$app-font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$settings-width: 330px;
$settings-color: darken($app-color, 15%);
$settings-help-color: darken($app-color, 20%);
$settings-link-color: darken($app-color, 25%);
$settings-background: darken($app-background, 15%);
$settings-input-background: darken($app-background, 10%);
$settings-border: lighten($app-background, 15%);
$settings-error: darken(red, 15%);

$owl-main-color: #01bdc8;
$owl-background-color: #fbfcfc;
$owl-accent-color: #ea9f4b;
$owl-extremities-color: #967643;
$owl-dark-color: #000505;
