@keyframes side-to-side {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(10%);
  }
}

@keyframes side-to-side-small {
  0% {
    transform: translateX(-35%);
  }
  100% {
    transform: translateX(35%);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(50%);
  }
}

/* https://gist.github.com/LeaVerou/1760283/593fa8bf024ccdddf2fe67826aece0b420c9d60e */
@keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-5%)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-5%)
		           rotate(-360deg);
	}
}

@keyframes flap-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

@keyframes flap-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

@keyframes march {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(60deg);
  }
}

@keyframes shrink {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.1);
  }
}
