.eyes.side-to-side {
  animation: side-to-side 1s ease 0s alternate infinite;
}

.eyes.up-down {
  animation: up-down 1s ease 0s alternate infinite;
}

.left-eye-shine.side-to-side {
  animation: side-to-side-small 1s ease 0s alternate infinite;
}

.right-eye-shine.side-to-side {
  animation: side-to-side-small 1s ease 0s alternate infinite;
}

.eyes.around {
  animation: rot 2s linear 0s normal infinite;
}
