.owl-container {
  perspective: 100px;
  transform: translateX(70px);
}

.owl-graphic {
  transform-origin: center bottom;
}

.owl-graphic.wobble {
  animation: wobble 0.75s linear 0.5s alternate infinite;
}

.eyes.side-to-side {
  animation: side-to-side 1s ease 0s alternate infinite;
}

.left-eye-shine.side-to-side {
  animation: side-to-side-small 1s ease 0s alternate infinite;
}

.right-eye-shine.side-to-side {
  animation: side-to-side-small 1s ease 0s alternate infinite;
}

.eyes.up-down {
  animation: up-down 1s ease 0s alternate infinite;
}

.left-eye-shine.up-down {
  animation: up-down-small 1s ease 0s alternate infinite;
}

.right-eye-shine.up-down {
  animation: up-down-small 1s ease 0s alternate infinite;
}

.eyes.around {
  animation: rot 2s linear 0s normal infinite;
}

.left-eye-shine.around {
  animation: rot-small 2s linear 0s normal infinite;
}

.right-eye-shine.around {
  animation: rot-small 2s linear 0s normal infinite;
}

.eyes.blink {
  transform-origin: 50%;
  animation: shrink 0.5s ease 0s alternate infinite;
}

.left-wing {
  transform-origin: right top;
}

.left-wing.flap-left {
  animation: flap-left 0.5s ease 0s alternate infinite;
}

.right-wing {
  transform-origin: left top;
}

.right-wing.flap-right {
  animation: flap-right 0.5s ease 0s alternate infinite;
}

.foot {
  transform-origin: center top;
}

.right-foot.march {
  animation: march 0.75s ease 0s alternate infinite;
}

.left-foot.march {
  animation: march 0.75s ease 0.75s alternate infinite;
}
