*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #333333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #fff;
}

.message {
  margin-top: 0.9em;
  font-size: 4em;
  text-align: center
}

/* http://stackoverflow.com/questions/9622354/make-a-div-center-of-viewport-horizontally-and-vertically/34084294#34084294 */
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* http://stackoverflow.com/questions/9622354/make-a-div-center-of-viewport-horizontally-and-vertically/34084294#34084294 */
.owl-svg {
  width: calc(100% - 60px);
  max-height: calc(100% - 60px);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  filter: grayscale(0);
  transition: opacity 1s linear, filter 1s linear;
}

.dim {
  opacity: 0.5;
  filter: grayscale(75%);
}

.owl-container {
  perspective: 100px;
  transform: translateX(70px);
}

.owl-graphic {
  transform-origin: center bottom;
  filter: grayscale(100%);
}

.owl-body,
.iris {
  fill: #01bdc8;
}

.stomach,
.sclera,
.eye-shine {
  fill: #fbfcfc;
}

.nose {
  fill: #ea9f4b;
}

.foot,
.wing,
.eye-liner {
  fill: #967643;
}

.pupil {
  fill: #000505;
}

.owl-graphic.wobble {
  animation: wobble 0.75s linear 0.5s alternate infinite;
}

.eyes.side-to-side {
  animation: to-side 0.5s ease, side-to-side 1s ease 0.5s alternate infinite;
}

.left-eye-shine.side-to-side {
  animation: to-side-small 0.5s ease, side-to-side-small 1s ease 0.5s alternate infinite;
}

.right-eye-shine.side-to-side {
  animation: to-side-small 0.5s ease, side-to-side-small 1s ease 0.5s alternate infinite;
}

.eyes.up-down {
  animation: up-down 1s ease 0s alternate infinite;
}

.left-eye-shine.up-down {
  animation: up-down-small 1s ease 0s alternate infinite;
}

.right-eye-shine.up-down {
  animation: up-down-small 1s ease 0s alternate infinite;
}

.eyes.around {
  animation: rot 2s linear 0s normal infinite;
}

.left-eye-shine.around {
  animation: rot-small 2s linear 0s normal infinite;
}

.right-eye-shine.around {
  animation: rot-small 2s linear 0s normal infinite;
}

.eyes.blink {
  transform-origin: 50%;
  animation: shrink 0.5s ease 0s alternate infinite;
}

.left-wing {
  transform-origin: right top;
}

/* http://easings.net/#easeOutCubic */
.left-wing.flap-left {
  animation: flap-left 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s alternate infinite;
}

.right-wing {
  transform-origin: left top;
}

/* http://easings.net/#easeOutCubic */
.right-wing.flap-right {
  animation: flap-right 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s alternate infinite;
}

.foot {
  transform-origin: center top;
}

.right-foot.march {
  animation: march 0.75s ease 0s alternate infinite;
}

.left-foot.march {
  animation: march 0.75s ease 0.75s alternate infinite;
}
